{
    "beta": [],
    "muted": true,
    "static_version": "11.11.1",
    "admins": [
        admin_id
    ],
    "token": "bot_token",
    "token_logbot": "log_bot_token",
    "lol_api": "lol_api_key",
    "tft_api": "tft_api_key",
    "rotation": "rotation_file_id",
    "sale": "sale_file_id",
    "log": false
}